table {
    border-collapse: collapse;
    margin: 40px auto;
    width: 100%;
}

th,
td {
    border: 1px solid #cfcfcf;
    padding: 8px 12px;
}

th {
    background-color: #e6e6e6;
    font-weight: bold;
    text-align: center;
}

